In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from keras.datasets import boston_housing
from keras.datasets import reuters
import numpy as np
import os
import tensorflow as tf
from keras import models
from keras import layers
from keras import optimizers
from keras import losses
from keras import metrics
import matplotlib.pyplot as plt
import time
import pandas as pd
import random
from sklearn.utils import shuffle
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

Using TensorFlow backend.

In [3]:
df = pd.read_excel(r'C:\Users\Big data\Desktop\class\funcardproject\斷詞與和卡額度_20群.xls',encoding='utf-16')
df = df.loc[:, ["age","serveTime","credLimit","Loan","SalPerY","holdCard","Career","credLimit_group"]] 
df =df.dropna(
    axis=0,     # 0: 对行进行操作; 1: 对列进行操作
    how='any'   # 'any': 只要存在 NaN 就 drop 掉; 'all': 必须全部是 NaN 才 drop 
    )
df["credLimit_group"] = df["credLimit_group"].astype(int)
print(df.shape)
print(df.info())

(1680, 8)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1680 entries, 0 to 1686
Data columns (total 8 columns):
age                1680 non-null float64
serveTime          1680 non-null float64
credLimit          1680 non-null int64
Loan               1680 non-null float64
SalPerY            1680 non-null int64
holdCard           1680 non-null int64
Career             1680 non-null int64
credLimit_group    1680 non-null int32
dtypes: float64(3), int32(1), int64(4)
memory usage: 111.6 KB
None

In [4]:

train_data, test_data, train_targets, test_targets = train_test_split(df.loc[:, ["age","serveTime","Loan","SalPerY","holdCard","Career"]] , df.loc[:, ["credLimit_group"]] , test_size=0.3, random_state=18)

In [5]:
# 標準化
mean = train_data.mean(axis=0)
train_data -=mean
std = train_data.std(axis=0)
train_data/=std
test_data-=mean
test_data/=std

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

In [7]:

model = SVC()
model.fit(train_data, train_targets)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [8]:
訓練準確度 = model.score(train_data, train_targets)
驗證準確度 = model.score(test_data, test_targets)
print("訓練準確度:",訓練準確度,"%")
print("訓練準確度:",驗證準確度,"%")

訓練準確度: 0.40221088435374147 %
訓練準確度: 0.3492063492063492 %

# 測試 小綠同學

In [22]:
小綠 = pd.DataFrame(columns=["age","serveTime","Loan","SalPerY","holdCard","Career"])
小綠.loc[0]=8,120,4,600000,1,1
小綠.loc[1]=280,120,3,600000000,1,1
小綠.loc[2]=28,12,0,87,2,0
小綠.loc[3]=28,12,0,8700,2,0
小綠

   age serveTime Loan    SalPerY holdCard Career
0    8       120    4     600000        1      1
1  280       120    3  600000000        1      1
2   28        12    0         87        2      0
3   28        12    0       8700        2      0

In [23]:
# 他給出的是每一群的機率(相加為一)
preds = svclassifier.predict(小綠)
#接著我們找出裡面機率最大的值的所在位子
print(np.where(preds[1]==np.max(preds[1])))

(array([0], dtype=int64),)

In [13]:
小綠群=[print("第",str(i),"個小綠被分在第",preds[i],"群") for i in range(len(小綠))]

第 0 個小綠被分在第 1.0 群
第 1 個小綠被分在第 1.0 群
第 2 個小綠被分在第 1.0 群
第 3 個小綠被分在第 1.0 群

In [30]:
小綠[1:2]

   age serveTime Loan    SalPerY holdCard Career
1  280       120    3  600000000        1      1

In [31]:
svclassifier.predict(小綠[1:2])

array([1.])